.footerCon {
  width: 100%;
  height: 40.625rem;
  background: #17224d;
  margin-top: 10% !important;
}

.logoTitle {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  max-width: 70%;
  margin: 3rem 0;
}
.contactCon {
  padding: 2rem 0;
}
.logoPhone {
  color: #f5fafa;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.125rem;
}
.logoLocation {
  color: #f5fafa;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.125rem;
}

.desc {
  color: #f5fafa;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.875rem;
}
.titleMenu {
  color: #f5fafa;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.25rem;
  margin-left: 1.8rem;
}
.menuList {
  list-style: none;
  text-align: start;
}
.galleryTitle {
  color: #f5fafa;
  font-feature-settings: 'clig' off, 'liga' off;
  /* Text single/300/Bold */
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.25rem;
}

.footerDesc {
  color: #f5fafa;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.125rem;
}

@media screen and (min-width: 0px) and (max-width: 567px) {
  .footerCon {
    width: 100%;
    height: 100%;
  }
  .logoTitle {
    text-align: start;
    margin: 0px;
  }
  .logoPhone {
    margin: 0px;
  }
  .logoLocation {
    margin: 0px;
  }
}

@media screen and (min-width: 567px) and (max-width: 768px) {
  .footerCon {
    width: 100%;
    height: 100%;
  }
  .logoTitle {
    text-align: start;
    margin: 0px;
  }
  .logoPhone {
    margin: 0px;
  }
  .logoLocation {
    margin: 0px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .footerCon {
    width: 100%;
    height: 100%;
  }
  .logoTitle {
    text-align: start;
    margin: 0px;
  }
  .logoPhone {
    margin: 0px;
  }
  .logoLocation {
    margin: 0px;
  }
}
